In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('/home/user/Documents/ML Projects/automobile.csv')
data.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [47]:
data.isnull().any()

wheel_base              False
length                  False
width                   False
height                  False
curb_weight             False
num_of_cylinders        False
engine_size             False
bore                    False
stroke                  False
compression_ratio       False
horsepower              False
peak_rpm                False
city_mpg                False
highway_mpg             False
price                   False
fuel_type_gas           False
fuel_system_2bbl        False
fuel_system_4bbl        False
fuel_system_idi         False
fuel_system_mfi         False
fuel_system_mpfi        False
fuel_system_spdi        False
fuel_system_spfi        False
aspiration_turbo        False
num_of_doors_two        False
body_style_hardtop      False
body_style_hatchback    False
body_style_sedan        False
body_style_wagon        False
drive_wheels_fwd        False
drive_wheels_rwd        False
engine_location_rear    False
engine_type_l           False
engine_type_ohc         False
engine_type_ohcf        False
engine_type_ohcv        False
engine_type_rotor       False
dtype: bool

In [15]:
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

Series([], dtype: float64)

wheel_base              0
length                  0
width                   0
height                  0
curb_weight             0
num_of_cylinders        0
engine_size             0
bore                    0
stroke                  0
compression_ratio       0
horsepower              0
peak_rpm                0
city_mpg                0
highway_mpg             0
price                   0
fuel_type_gas           0
fuel_system_2bbl        0
fuel_system_4bbl        0
fuel_system_idi         0
fuel_system_mfi         0
fuel_system_mpfi        0
fuel_system_spdi        0
fuel_system_spfi        0
aspiration_turbo        0
num_of_doors_two        0
body_style_hardtop      0
body_style_hatchback    0
body_style_sedan        0
body_style_wagon        0
drive_wheels_fwd        0
drive_wheels_rwd        0
engine_location_rear    0
engine_type_l           0
engine_type_ohc         0
engine_type_ohcf        0
engine_type_ohcv        0
engine_type_rotor       0
dtype: int64

In [49]:
data[data.isnull().any(axis=1)][data.columns[data.isnull().any()].tolist()]

Empty DataFrame
Columns: []
Index: []

In [50]:
data.dtypes

wheel_base              float64
length                  float64
width                   float64
height                  float64
curb_weight               int64
num_of_cylinders          int64
engine_size               int64
bore                    float64
stroke                  float64
compression_ratio       float64
horsepower              float64
peak_rpm                float64
city_mpg                  int64
highway_mpg               int64
price                   float64
fuel_type_gas             uint8
fuel_system_2bbl          uint8
fuel_system_4bbl          uint8
fuel_system_idi           uint8
fuel_system_mfi           uint8
fuel_system_mpfi          uint8
fuel_system_spdi          uint8
fuel_system_spfi          uint8
aspiration_turbo          uint8
num_of_doors_two          uint8
body_style_hardtop        uint8
body_style_hatchback      uint8
body_style_sedan          uint8
body_style_wagon          uint8
drive_wheels_fwd          uint8
drive_wheels_rwd          uint8
engine_location_rear      uint8
engine_type_l             uint8
engine_type_ohc           uint8
engine_type_ohcf          uint8
engine_type_ohcv          uint8
engine_type_rotor         uint8
dtype: object

In [51]:
column_names = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors', 
              'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 'height', 
              'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 
              'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']

data = pd.read_csv('/home/user/Documents/ML Projects/automobile.csv', header=0, names=column_names, na_values='?')

In [22]:
data

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
201,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
202,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
203,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [52]:

data.isnull().any()

symboling            False
normalized_losses     True
make                 False
fuel_type            False
aspiration           False
num_of_doors          True
body_style           False
drive_wheels         False
engine_location      False
wheel_base           False
length               False
width                False
height               False
curb_weight          False
engine_type          False
num_of_cylinders     False
engine_size          False
fuel_system          False
bore                  True
stroke                True
compression_ratio    False
horsepower            True
peak_rpm              True
city_mpg             False
highway_mpg          False
price                 True
dtype: bool

In [53]:
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

normalized_losses    40
num_of_doors          2
bore                  4
stroke                4
horsepower            2
peak_rpm              2
price                 4
dtype: int64

In [54]:
data.isnull().sum()

symboling             0
normalized_losses    40
make                  0
fuel_type             0
aspiration            0
num_of_doors          2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_of_cylinders      0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [55]:
data[data.isnull().any(axis=1)][data.columns[data.isnull().any()].tolist()]

,normalized_losses,num_of_doors,bore,stroke,horsepower,peak_rpm,price
0,NaN,two,3.47,2.68,111.0,5000.0,16500.0
1,NaN,two,2.68,3.47,154.0,5000.0,16500.0
4,NaN,two,3.19,3.40,110.0,5500.0,15250.0
6,NaN,four,3.19,3.40,110.0,5500.0,18920.0
8,NaN,two,3.13,3.40,160.0,5500.0,NaN
13,NaN,four,3.31,3.19,121.0,4250.0,24565.0
14,NaN,four,3.62,3.39,182.0,5400.0,30760.0
15,NaN,two,3.62,3.39,182.0,5400.0,41315.0
16,NaN,four,3.62,3.39,182.0,5400.0,36880.0
26,148.0,NaN,3.03,3.39,102.0,5500.0,8558.0
42,NaN,four,3.31,3.23,78.0,4800.0,6785.0
43,NaN,two,3.03,3.11,70.0,5400.0,NaN
44,NaN,four,3.03,3.11,70.0,5400.0,NaN
45,NaN,two,3.43,3.23,90.0,5000.0,11048.0
47,NaN,four,3.63,4.17,176.0,4750.0,35550.0
48,NaN,two,3.54,2.76,262.0,5000.0,36000.0
54,150.0,two,NaN,NaN,101.0,6000.0,10945.0
55,150.0,two,NaN,NaN,101.0,6000.0,11845.0
56,150.0,two,NaN,NaN,101.0,6000.0,13645.0
57,150.0,two,NaN,NaN,135.0,6000.0,15645.0
62,NaN,NaN,3.39,3.39,64.0,4650.0,10795.0
65,NaN,four,3.43,3.64,72.0,4200.0,18344.0
70,NaN,four,3.46,3.10,155.0,4750.0,34184.0
72,NaN,four,3.80,3.35,184.0,4500.0,40960.0
73,NaN,two,3.80,3.35,184.0,4500.0,45400.0
74,NaN,two,3.78,3.12,175.0,5000.0,16503.0
81,NaN,two,3.58,3.86,145.0,5000.0,12629.0
82,NaN,two,3.59,3.86,145.0,5000.0,14869.0
83,NaN,two,3.59,3.86,145.0,5000.0,14489.0
108,NaN,four,3.46,3.19,97.0,5000.0,12440.0
109,NaN,four,3.70,3.52,95.0,4150.0,13860.0
112,NaN,four,3.46,2.19,95.0,5000.0,16695.0
113,NaN,four,3.70,3.52,95.0,4150.0,17075.0
123,NaN,two,3.59,3.86,145.0,5000.0,12764.0
125,NaN,two,3.74,2.90,207.0,5900.0,32528.0
126,NaN,two,3.74,2.90,207.0,5900.0,34028.0
127,NaN,two,3.74,2.90,207.0,5900.0,37028.0
128,NaN,two,3.94,3.11,288.0,5750.0,NaN
129,NaN,four,3.46,3.90,NaN,NaN,9295.0
130,NaN,two,3.46,3.90,NaN,NaN,9895.0
180,NaN,four,3.27,3.35,156.0,5200.0,15750.0
188,NaN,two,3.19,3.40,90.0,5500.0,11595.0
190,NaN,four,3.19,3.40,110.0,5500.0,13295.0
191,NaN,four,3.01,3.40,68.0,4500.0,13845.0
192,NaN,four,3.19,3.40,88.0,5500.0,12290.0

In [26]:
data.drop(['make', 'symboling', 'normalized_losses'], axis=1, inplace = True)

In [27]:

data.head()

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

In [28]:
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

num_of_doors    2
bore            4
stroke          4
horsepower      2
peak_rpm        2
price           4
dtype: int64

In [29]:
data[data.num_of_doors.isnull()]
data.num_of_doors[data.body_style == 'sedan'].value_counts()
data.loc[27,'num_of_doors'] = 'four'
data.loc[63,'num_of_doors'] = 'four'
data[data.bore.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
54,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,10945.0
55,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,11845.0
56,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
57,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,80,mpfi,NaN,NaN,9.4,135.0,6000.0,16,23,15645.0

In [30]:
data.bore.fillna(data.bore.mean(), inplace=True)
data.stroke.fillna(data.stroke.mean(), inplace=True)
data.horsepower.fillna(data.horsepower.mean(), inplace=True)
data.peak_rpm.fillna(data.peak_rpm.mean(), inplace=True)
data.drop(data[data.price.isnull()].index, axis = 0, inplace = True)
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

num_of_doors    2
dtype: int64

In [31]:
data.num_of_cylinders.value_counts()

four      156
six        24
five       10
two         4
eight       4
twelve      1
three       1
Name: num_of_cylinders, dtype: int64

In [32]:
data.loc[data.index[data.num_of_cylinders == 'four'], 'num_of_cylinders'] = 4
data.loc[data.index[data.num_of_cylinders == 'six'], 'num_of_cylinders'] = 6
data.loc[data.index[data.num_of_cylinders == 'five'], 'num_of_cylinders'] = 5
data.loc[data.index[data.num_of_cylinders == 'eight'], 'num_of_cylinders'] = 8
data.loc[data.index[data.num_of_cylinders == 'two'], 'num_of_cylinders'] = 2
data.loc[data.index[data.num_of_cylinders == 'twelve'], 'num_of_cylinders'] = 12
data.loc[data.index[data.num_of_cylinders == 'three'], 'num_of_cylinders'] = 3

data.num_of_cylinders = data.num_of_cylinders.astype('int')

In [33]:
cat_columns = ['fuel_type', 'fuel_system', 'aspiration', 'num_of_doors', 
               'body_style', 'drive_wheels', 'engine_location', 'engine_type']

data = pd.get_dummies(data, columns = cat_columns, drop_first=True)

In [34]:
data.dtypes

wheel_base              float64
length                  float64
width                   float64
height                  float64
curb_weight               int64
num_of_cylinders          int64
engine_size               int64
bore                    float64
stroke                  float64
compression_ratio       float64
horsepower              float64
peak_rpm                float64
city_mpg                  int64
highway_mpg               int64
price                   float64
fuel_type_gas             uint8
fuel_system_2bbl          uint8
fuel_system_4bbl          uint8
fuel_system_idi           uint8
fuel_system_mfi           uint8
fuel_system_mpfi          uint8
fuel_system_spdi          uint8
fuel_system_spfi          uint8
aspiration_turbo          uint8
num_of_doors_two          uint8
body_style_hardtop        uint8
body_style_hatchback      uint8
body_style_sedan          uint8
body_style_wagon          uint8
drive_wheels_fwd          uint8
drive_wheels_rwd          uint8
engine_location_rear      uint8
engine_type_l             uint8
engine_type_ohc           uint8
engine_type_ohcf          uint8
engine_type_ohcv          uint8
engine_type_rotor         uint8
dtype: object

In [42]:
data

,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,...,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd,engine_location_rear,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,engine_type_rotor
0,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,...,0,0,0,1,0,0,0,0,0,0
1,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,9.0,...,0,0,0,1,0,0,0,0,1,0
2,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,10.0,...,1,0,1,0,0,0,1,0,0,0
3,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.40,8.0,...,1,0,0,0,0,0,1,0,0,0
4,99.8,177.3,66.3,53.1,2507,5,136,3.19,3.40,8.5,...,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,109.1,188.8,68.9,55.5,2952,4,141,3.78,3.15,9.5,...,1,0,0,1,0,0,1,0,0,0
200,109.1,188.8,68.8,55.5,3049,4,141,3.78,3.15,8.7,...,1,0,0,1,0,0,1,0,0,0
201,109.1,188.8,68.9,55.5,3012,6,173,3.58,2.87,8.8,...,1,0,0,1,0,0,0,0,1,0
202,109.1,188.8,68.9,55.5,3217,6,145,3.01,3.40,23.0,...,1,0,0,1,0,0,1,0,0,0
203,109.1,188.8,68.9,55.5,3062,4,141,3.78,3.15,9.5,...,1,0,0,1,0,0,1,0,0,0

In [35]:
train, test = train_test_split(data, test_size=0.2)

In [36]:
Y_train = train.price
X_train = train.drop(['price'], axis=1)


Y_test = test.price
X_test = test.drop(['price'], axis=1)

In [37]:
lrm = linear_model.LinearRegression()
lrm.fit(X_train, Y_train)
predicted_price = lrm.predict(X_test)

In [39]:
r_square = r2_score(Y_test, predicted_price)
print('Variance score: {0:.2f}'.format(r_square))

Variance score: 0.88

In [40]:
actual_data = np.array(Y_test)

In [45]:
for i in range(len(predicted_price)):
    actual = actual_data[i]
    predicted = predicted_price[i]
    explained = ((actual_data[i] - predicted_price[i])/actual_data[i])*100
    
    print('Actual value ${:,.2f}, Predicted value${:,.2f} (%{:,.2f})'.format(actual, predicted, explained))
    
    if explained >30:
        print('The value is above the margin' + 'Actual value ${:,.2f}, Predicted value${:,.2f} (%{:,.2f})'.format(actual, predicted, explained))

Actual value $8,921.00, Predicted value$10,863.32 (%-21.77)
Actual value $7,995.00, Predicted value$8,814.65 (%-10.25)
Actual value $18,280.00, Predicted value$16,576.64 (%9.32)
Actual value $6,918.00, Predicted value$7,184.50 (%-3.85)
Actual value $45,400.00, Predicted value$35,206.27 (%22.45)
Actual value $9,538.00, Predicted value$9,172.33 (%3.83)
Actual value $14,399.00, Predicted value$14,957.71 (%-3.88)
Actual value $13,860.00, Predicted value$17,007.48 (%-22.71)
Actual value $31,600.00, Predicted value$29,082.70 (%7.97)
Actual value $8,949.00, Predicted value$11,412.25 (%-27.53)
Actual value $16,558.00, Predicted value$20,065.40 (%-21.18)
Actual value $5,572.00, Predicted value$6,261.03 (%-12.37)
Actual value $7,999.00, Predicted value$4,376.57 (%45.29)
The value is above the marginActual value $7,999.00, Predicted value$4,376.57 (%45.29)
Actual value $6,295.00, Predicted value$6,585.93 (%-4.62)
Actual value $9,549.00, Predicted value$11,647.02 (%-21.97)
Actual value $7,053.00, Predicted value$6,430.84 (%8.82)
Actual value $6,229.00, Predicted value$5,911.80 (%5.09)
Actual value $7,799.00, Predicted value$6,111.49 (%21.64)
Actual value $6,785.00, Predicted value$8,299.50 (%-22.32)
Actual value $16,503.00, Predicted value$21,005.97 (%-27.29)
Actual value $11,245.00, Predicted value$11,391.78 (%-1.31)
Actual value $11,048.00, Predicted value$10,732.52 (%2.86)
Actual value $18,399.00, Predicted value$17,107.73 (%7.02)
Actual value $8,845.00, Predicted value$10,716.39 (%-21.16)
Actual value $13,200.00, Predicted value$18,913.17 (%-43.28)
Actual value $13,295.00, Predicted value$16,855.91 (%-26.78)
Actual value $8,249.00, Predicted value$4,266.38 (%48.28)
The value is above the marginActual value $8,249.00, Predicted value$4,266.38 (%48.28)
Actual value $18,344.00, Predicted value$13,575.71 (%25.99)
Actual value $34,184.00, Predicted value$30,827.49 (%9.82)
Actual value $6,649.00, Predicted value$6,385.58 (%3.96)
Actual value $7,609.00, Predicted value$6,332.31 (%16.78)
Actual value $5,348.00, Predicted value$6,838.02 (%-27.86)
Actual value $7,957.00, Predicted value$6,540.28 (%17.80)
Actual value $7,395.00, Predicted value$6,698.45 (%9.42)
Actual value $17,710.00, Predicted value$20,504.25 (%-15.78)
Actual value $6,669.00, Predicted value$6,862.67 (%-2.90)
Actual value $16,900.00, Predicted value$19,145.33 (%-13.29)
Actual value $19,045.00, Predicted value$21,738.37 (%-14.14)
Actual value $9,095.00, Predicted value$9,682.02 (%-6.45)
Actual value $16,500.00, Predicted value$12,852.19 (%22.11)